* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

#workspaces button {
    padding: 5px;
    color: #555869;
    margin-right: 0px;
    border-radius: 20px;
    transition: background 0.4s cubic-bezier(.55,-0.68,.48,1.682), color 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}
#workspaces button.active {
    color: #a6adc8;
}
#workspaces button.focused {
    color: #a6adc8;
    background: #4d124d;
    border-radius: 20px;
}
#workspaces button.urgent {
    color: #11111b;
    background: #be20da;
    border-radius: 20px;
}
#workspaces button:hover {
    background: #cdd6f4;
    color: #11111b; 
    border-radius: 20px;
}

#workspaces {
    background: rgba(16, 41, 55, 0.7);
    border-radius: 20px;
    margin-left: 10px;
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}

#window,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#tray,
#backlight,
#custom-launcher,
#custom-wlogout,
#language  {
    background: rgba(16, 41, 55, 0.7);
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    /* border: 1px solid #181825; */
}

#custom-launcher {
    margin-left: 5px;
    margin-right: 5px;
    padding-right: 14px;
    padding-left: 9px;
    border-radius: 18px;
    transition: background 0.4s cubic-bezier(.55,-0.68,.48,1.682), color 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}


#custom-wlogout {
    margin-right: 5px;
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 13px;
    border-radius: 18px;
    transition: background 0.4s cubic-bezier(.55,-0.68,.48,1.682), color 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}

#custom-launcher:hover {
    background: #cdd6f4;
    color: #11111b; 
}

#custom-wlogout:hover {
    background: #cdd6f4;
    color: #11111b; 
}

#tray {
    border-radius: 20px;
    margin-right: 10px;
}

#cpu {
    border-radius: 20px 0px 0px 20px;
}

#memory {
    border-radius: 0px;
}

#window {
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

#clock {
    color: #a6adc8;
    border-radius: 20px;
    margin-left: 5px;
    border-right: 0px;
}

#network {
    color:  #a6adc8;
    border-radius: 0px 20px 20px 0px;
}

#pulseaudio {
    color: #a6adc8;
    border-left: 0px;
    border-right: 0px;
    margin-right: 0px;
}

#pulseaudio.microphone {
    color: #a6adc8;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
    margin-right: 0px;
}

#battery {
    color:#a6adc8;
    border-radius: 0px 20px 20px 0px;
    margin-right: 5px;
}

#language {
    color: #a6adc8;
    border-left: 0px;
    border-right: 0px;
    border-radius: 20px 0px 0px 20px;
}